@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

.top-menu {
  background-color: #024f87;
  display: flex;
  padding: 12px 100px;
  justify-content: space-between;
  color: white;
  font-family: "Poppins", sans-serif;
}

.contact-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.hero-section {
  height: 800px;
  width: 100%;
  background-image: url(./assets/homebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .top-menu {
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
